<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
    <% if(user) { %>
    <h4>Welcome to our clubhouse!</h4>
    <a href="/users/<%=user.id%>/create-message">Create a new message</a>
    <p>
      Do you want to <a href="/joinClub">join our club</a>? Exclusive members
      have access to the clubhouse's private information.
    </p>
    <% if(user.isadmin){%>
    <h2>Hi Admin</h2>
    <%}%>
    <% if(messages) { %>
    <%-include("partials/errors.ejs")%>
    <ul>
      <% messages.forEach((message)=>{ %>
      <li>
        <h3><%=message.title%></h3>
        <p><%=message.content%></p>
        <% if(user.is_member) {%>
        <p><%=message.createdAt%></p>
        <p><%=message.author%></p>
        <%} else {%>
        <p>Anonymous</p>
        <%}%>
      </li>
      <% if(user.isadmin){%>
      <li>
        <form method="post" action="/users/delete-message/<%=message.id%>">
          <button type="submit">Delete</button>
        </form>
      </li>
      <%}%>

      <%}) %>
    </ul>
    <% } %>
    <div><a href="users/<%=user.id%>/join-club">Join the club</a></div>
    <div><a href="/logout">Log out</a></div>
    <% } else { %>
    <p>
      Please <a href="/login">log in</a> to access the clubhouse's messages. If
      you do not have an account, please <a href="/register">register</a>.
    </p>
    <p></p>
    <% } %>
  </body>
</html>
